<app-navbar></app-navbar>
<div class="margin-bot-3 mt-4">
    <h3 class="margin-left-2 arial_font">Generisi izvestaj</h3>
    <input type="text" name="startDate" class="float-first-right bg_gray borderless_input input_size" [(ngModel)]="startDate" placeholder="Pocetni datum">
    <input type="text" name="endDate" class="float-right bg_gray borderless_input input_size" [(ngModel)]="endDate" placeholder="Krajnji datum">
    <button class="btn btn-dark float-right" (click)="createReport()">Generisi izvestaj</button>
</div>
<div class="margin-bot-3 new-line">
    <h3 class="margin-left-2 arial_font">Pretraga po tekstualnom sadrzaju</h3>
    <input type="text" name="text" class="float-first-right bg_gray borderless_input input_size" [(ngModel)]="text" placeholder="Tekstualni sadrzaj pretrage">
    <button class="btn btn-dark float-right" (click)="findPatentsByText()">Pretrazi po tekstu</button>
    <button class="btn btn-dark float-right" (click)="reset()">Svi zahtevi/patenti</button>
</div>
<div class="margin-bot-3 new-line">
    <h3 class="margin-left-2 arial_font">Pretraga po metapodacima</h3>
    <input type="text" name="text" class="float-first-right bg_gray borderless_input input_size" [(ngModel)]="query" placeholder="Upit pomocu metapodataka">
    <button class="btn btn-dark float-right" (click)="findPatentsByMetadata()">Pretrazi po metapodacima</button>
    <button class="btn btn-dark float-right" (click)="reset()">Svi zahtevi/patenti</button>
</div>
<br>
<table class="table table-light table-hover text-center w-80">
    <thead>
        <tr>
            <th scope="col" class="arial_font">Broj patenta</th>
            <th scope="col" class="arial_font">Datum prijave</th>
            <th scope="col" class="arial_font">HTML</th>
            <th scope="col" class="arial_font">PDF</th>
            <th scope="col" class="arial_font">RDF</th>
            <th scope="col" class="arial_font">JSON</th>
            <th scope="col" class="arial_font">Referncirani dokumenti</th>
            <th scope="col" class="arial_font">Patenti koji referenciraju na</th>
            <th scope="col" class="arial_font">Resenje zahteva koje referencira na</th>
            <th scope="col" class="arial_font">Podnesi resenje</th>
        </tr>
    </thead>
    <tbody *ngFor="let zahtev of zahteviZaPriznanjePatenta">
        <tr>
            <td scope="row" >{{zahtev.podaciOPrijavama.novaPrijava.brojPrijave}}</td>
            <td class="arial_font">{{zahtev.podaciOPrijavama.novaPrijava.datumPrijave}}</td>
            <td><button class="btn btn-dark arial_font" (click)="showHTML(zahtev)">HTML</button></td>
            <td><button class="btn btn-dark arial_font" (click)="showPDF(zahtev)">PDF</button></td>
            <td><button class="btn btn-dark arial_font" (click)="showRDF(zahtev)">RDF</button></td>
            <td><button class="btn btn-dark arial_font" (click)="showJSON(zahtev)">JSON</button></td>
            <td><button class="btn btn-dark arial_font" (click)="showReferencedDocuments(zahtev)">Referencirani dokumenti</button></td>
            <td><button class="btn btn-dark arial_font" (click)="showPatentsThatReferenceTo(zahtev)">Patenti koji referenciraju na</button></td>
            <td>
                <button *ngIf="zahtev.podaciOPrijavama.novaPrijava.priznatiDatumPrijave !== ''" class="btn btn-dark arial_font" (click)="showResenjeZahtevaThatReferencesTo(zahtev)">Resenje zahteva koje referencira na</button>
            </td>
            <td>
                <button *ngIf="zahtev.podaciOPrijavama.novaPrijava.priznatiDatumPrijave === ''" class="btn btn-dark arial_font" (click)="openModal(zahtev)">Podnesi resenje</button>
            </td>
        </tr>
    </tbody>  
</table>


<div *ngIf="modalOpened">
    <app-modal-accept-decline-request (modalClosed)="closeModal()" [zahtev]="odabraniZahtev"></app-modal-accept-decline-request>
</div>
<div *ngIf="modalLinksOpened">
    <app-modal-show-reference (modalLinksClosed)="closeModalLinks()" [zahtevi]="linkovi"></app-modal-show-reference>
</div>