<nav class="navbar navbar-expand-lg navbar-dark bg_black py-3">
    <a class="navbar-brand arial_font ml-20" routerLink="/admin-profile">Rad sa dokumentima</a> 
    <div class="collapse navbar-collapse mr-20">
      <ul class="navbar-nav">

        <!-- POPUNJAVANJE DOKUMENATA - GRADJANIN -->
        <ng-container *ngIf="loggedPerson === 'korisnik'">
            <li class="nav-item mr-2">
                <a class="nav-link arial_font" routerLink="/kreiraj-autorska">Novo autorsko pravo</a>
            </li>
            <li class="nav-item mr-2">
                <a class="nav-link arial_font" routerLink="/kreiraj-patent">Novi patent</a>
            </li>
            <li class="nav-item mr-2">
                <a class="nav-link arial_font" routerLink="/kreiraj-patent-xonomy">Novi patent (Xonomy)</a>
            </li>
            <!-- ZORAN -->
            <li class="nav-item mr-2">
                <a class="nav-link arial_font" routerLink="/kreiraj-zig">Novi zig</a>
            </li>
        </ng-container>

        <!-- PREGLED DOKUMENATA - NA SAMIM STRANICAMA SE PAZI STA SE PRIKAZUJE U ODNOSU NA ULOGOVANOG KORISNIKA -->
        <ng-container *ngIf="loggedPerson !== 'neulogovan'">
            <li class="nav-item mr-2">
                <a class="nav-link arial_font" routerLink="/pregledaj-patente">Pregled patenata</a>
            </li>
            <li class="nav-item mr-2">
                <a class="nav-link arial_font" routerLink="/pregledaj-autorska">Pregled autorskih prava</a>
            </li>
            <!-- ZORAN -->
            <li class="nav-item mr-2">
                <a class="nav-link arial_font" routerLink="/pregledaj-zigove">Pregled zigova</a>
            </li>
        </ng-container>

        <!-- NEULOGOVANI KORISNIK -->
        <ng-container *ngIf="loggedPerson === 'neulogovan'">
            <li class="nav-item mr-2">
                <a class="nav-link arial_font" routerLink="/registracija">Registracija</a>
            </li>
            <li class="nav-item mr-2">
                <a class="nav-link arial_font" routerLink="/prijava">Prijava</a>
            </li>
        </ng-container>
        <ng-container *ngIf="loggedPerson !== 'neulogovan'">
            <li class="nav-item mr-2">
                <a class="nav-link arial_font mouse" (click)="logout()">Odjava</a> <!-- neka ga baci na login samo -->
            </li>
        </ng-container>
      </ul>
    </div>
  </nav>